.contact {
  padding: 8px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
}

.contact:hover {
  opacity: 0.8;
  cursor: pointer;
}

.show-schedule {
  width: 200px;
  height: 40px;
  padding: 8px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
}

.show-schedule:hover {
  opacity: 0.8;
  cursor: pointer;
}
