@use "./src/scss/base/fonts";

.contact {
  font-family: fonts.$font-family;
  padding: 10px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
}

.contact:hover {
  opacity: 0.8;
  cursor: pointer;
}

.show-schedule {
  font-family: fonts.$font-family;
  width: 120px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
}

.show-schedule:hover {
  opacity: 0.8;
  cursor: pointer;
}
