@use "./src/scss/base/fonts";

.contact {
  font-family: fonts.$font-family;
  padding: 10px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.contact:hover {
  opacity: 0.8;
  cursor: pointer;
}

.schedule {
  font-family: fonts.$font-family;
  width: 220px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 7px;
  border-style: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.schedule:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cookie-close {
  font-family: fonts.$font-family;
  width: 90px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 7px;
  border-style: none;
  background-color: #8d00bf;
  color: white;
  transition: all 0.5s ease-in-out;
}
