@use "../index" as i;

#about {
  transition: all 1s ease-in-out;
}

.about {
  margin-top: 3rem;
  transition: all 1s ease-in-out;
  background-color: rgba(69, 69, 69, 0.529);
  border-radius: 10px;
}

.about-tab-container {
  display: flex;
  justify-content: center;
}

.about-tab {
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border-style: none;
  margin-left: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
  }
}

.about-tab:hover {
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.249);
  opacity: 0.5;
}

.about-tab-1,
.about-tab-2,
.about-tab-3 {
  background-color: i.$clr-purple1;

  .about-tab-1:hover,
  .about-tab-2:hover,
  .about-tab-3:hover {
    background-color: yellow;
  }
}

.about-tab-active {
  transform: translateY(-66%);
}

.text-about-content {
  display: flex;
  flex-direction: column;
  h5 {
    margin: 0;
  }
}

.about-content {
  display: none;
  font-size: 1.7rem;
  padding-inline: 2rem;
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
}

.about-content-active {
  display: flex;
  align-items: center;
  grid-template-columns: 6rem 1fr;
  column-gap: 3rem;
  row-gap: 0.01rem;
  padding: 2rem;
}

.about-header {
  font-size: 2.25rem;
  font-weight: 500;
}

.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.about-icon svg {
  height: clamp(1rem, 3rem + 50vw, 3rem);
  width: auto;
}

.about-icon-1 {
  background-color: purple;
}
.about-icon-2 {
  background-color: purple;
}
.about-icon-3 {
  background-color: purple;
}
.about-icon-1 svg {
  fill: black;
}
.about-icon-2 svg {
  fill: black;
}
.about-icon-3 svg {
  fill: black;
}
