@use "../index" as i;

#home {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.first-column {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  letter-spacing: -0.1rem;

  h1 {
    font-size: i.$font-size-xl;
    span {
      color: i.$clr-purple1;
    }
  }

  h2 {
    margin-top: -1rem;
    font-size: i.$font-size-l;
    font-weight: lighter;
  }

  .show-schedule {
    background-color: i.$clr-purple1;
  }
}

.second-column {
  img {
    width: 300px;
    border-radius: 12px;
    box-shadow: 15px 15px i.$clr-purple1;
  }
}
//modal window

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: grey;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem black;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: all 5s ease-in-out;
}
