@use "../index" as i;

#home {
  display: flex;
}

.first-column {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: i.$font-size-xl;
    span {
      color: purple;
    }
  }
}

.second-column {
  img {
    width: 200px;
  }
}
