@use "../index" as i;

#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.first-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  letter-spacing: -0.1rem;

  h1 {
    font-size: clamp(1rem, 2rem + 1.5vw, 2rem + i.$font-size-xl);
    span {
      color: i.$clr-purple1;
    }
  }

  h2 {
    margin-top: -1rem;
    font-size: clamp(1rem, 1.5rem + 1vw, i.$font-size-l);
    font-weight: lighter;
  }

  .show-schedule {
    background-color: i.$clr-purple1;
  }
}

.second-column {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 60vw, 400px);
    border-radius: 12px;
    box-shadow: 15px 15px i.$clr-purple1;
  }
}

@media screen and (max-width: 768px) {
  #home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .first-column {
    width: 100%;
  }
}
