@use "../index" as i;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: i.$clr-text;

  .logo {
    font-size: i.$font-size-logo;
  }

  a {
    text-decoration: none;
    color: i.$clr-text;
    transition: all 0.4s ease-in-out;
  }

  a:hover {
    color: i.$clr-purple1;
    font-weight: 600;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  button.contact {
    background-color: i.$clr-purple1;
  }
}

.burguer {
  display: none;
}

.burguer div {
  width: 25px;
  height: 3px;
  background: i.$clr-text;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

// cookies message
.cookie-message {
  background-color: rgba(69, 69, 69, 0.529);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-inline: auto;
  margin-top: 0.4rem;
  padding: 0.3rem 3rem;
  max-width: 75rem;
  border-radius: 7px;
  font-size: 0.7rem;
  font-weight: 400;
}

// mobile version of navbar

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .burguer {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 8vh;
    right: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 50%;
    background-color: white;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }

  nav li {
    opacity: 0;
  }

  //cookie message

  .cookie-message {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;

    .cookie-close {
      width: 4rem;
      font-size: 0.6rem;
    }
  }

  //JavaScript mobile navbar

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
