@use "./index" as i;

@use "./layouts/navbar";
@use "./layouts/home";
@use "./layouts/dentists";
@use "./layouts/about";

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  margin: auto;
  font-family: i.$font-family;
  color: i.$clr-text;
  max-width: 85rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@keyframes fadeDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav,
.cookie-message {
  animation: fadeUp 1s ease-in-out;
}

#home {
  .first-column {
    animation: fadeDown 1s ease-in-out;
  }
  .second-column img {
    animation: opacity 2.5s ease-in-out;
  }
}
// @media (min-width: 1400px) {
//   body {
//     max-width: 1000px;
//   }
// }

@media (max-width: 768px) {
  body {
    padding-inline: 2rem;
  }
}
