@use "./index" as i;
@use "./layouts/navbar";

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: i.$font-family;
}

content {
  max-width: 90rem;
  margin-inline: 15rem;
}
