@use "./index" as i;

@use "./layouts/navbar";
@use "./layouts/home";
@use "./layouts/dentists";
@use "./layouts/blog";

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  margin: auto;
  font-family: i.$font-family;
  color: i.$clr-text;
  max-width: 85rem;
}

// @media (min-width: 1400px) {
//   body {
//     max-width: 1000px;
//   }
// }

@media (max-width: 768px) {
  body {
    padding-inline: 2rem;
  }
}
